// # Marquee

@mixin preact-marquee--when-hovered() {
    .preact-marquee:hover & {
        @content;
    }
}

// [1] HACK for Safari (iOS >= 10.3): Safari renders only the first item. This hack forces
//     the browser to create a new layer which solves our problem with hidden items.
.preact-marquee {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    transform: translateZ(0); // [1]
    white-space: nowrap;
}

// ## Content
.preact-marquee__content {
    display: inline-block;
}

// ## Content
// ### State: is animated
// Variables are set on runtime in Marquee.tsx.
.preact-marquee__content--is-animated {
    animation-name: preact-marquee--animation;
    animation-timing-function: var(--preact-marquee--animation-function);
    animation-duration: var(--preact-marquee--animation-time);
    animation-delay: var(--preact-marquee--animation-delay);
    animation-iteration-count: infinite;
}

// ## Content
// ### State: pause when hovered
.preact-marquee__content--pause-when-hovered {
    @include preact-marquee--when-hovered() {
        animation-play-state: paused;
    }
}

// ## Content Item
// @tag <div/>
// [1] Give the browser a hint that we will change the transform value,
//     so the browser can setup appropriate optimizations ahead of time before the element is actually changed.
.preact-marquee__content-item {
    display: inline-block;
    will-change: transform; // [1]
}

// [1] Variable is set on runtime in Marquee.tsx.
@keyframes preact-marquee--animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(var(--preact-marquee--content-width)); // [1]
    }
}
